.App {
  margin-top: 5rem;
}
.wrapper {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor {
  /* background-color: lightgray; */
  padding: 1rem;
  border: 1px solid #ccc;
  max-height: 25vh;
  overflow-y: auto;
}
.toolbar {
  border: 1px solid #ccc;
}
